body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}


#caja1{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-image: radial-gradient(circle, #ff0000, #0000ff);
}